// theme colors
$primary: #F9B572;
$secondary: #99B080;
$error: #c08080;
$info: #ffe89b;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;